{% extends "base_listing.html" %}


{% block bar_right %}
    <div>
        <h2>Легенда</h2><hr>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th colspan="2">Состояние</th></tr>
            </thead>
            <tbody>
            <tr>
                <td><code>Черн.</code></td>
                <td>Черновик</td>
            </tr>
            <tr>
                <td class="info"><code>Действ.</code></td>
                <td class="info">Действует</td>
            </tr>
            <tr>
                <td class="danger"><code>Отозв.</code></td>
                <td class="danger">Отозвано [автором]</td>
            </tr>
            <tr>
                <td><code>Отл.</code></td>
                <td>Отложено</td>
            </tr>
            <tr>
                <td class="danger"><code>Откл.</code></td>
                <td class="danger">Отклонёно</td>
            </tr>
            <tr>
                <td class="info"><code>Утв.</code></td>
                <td class="info">Утверждено (принято; возможно не реализовано)</td>
            </tr>
            <tr>
                <td class="success"><code>Фин.</code></td>
                <td class="success">Финализировано (работа завершена; реализовано)</td>
            </tr>
            <tr>
                <td class="warning"><code>Зам.</code></td>
                <td class="warning">Заменено (имеется большее актуальное PEP)</td>
            </tr>
            <tr>
                <td><code>Апр.</code></td>
                <td>Розыгрыш на 1 апреля</td>
            </tr>
            </tbody>

            <thead>
                <tr><th colspan="2">Тип</th></tr>
            </thead>
            <tbody>
            <tr>
                <td><code>И</code></td>
                <td>Информация</td>
            </tr>
            <tr>
                <td><code>П</code></td>
                <td>Процесс</td>
            </tr>
            <tr>
                <td><code>С</code></td>
                <td>Стандарт</td>
            </tr>
            </tbody>
        </table>

    </div>

    {{ block.super }}
{% endblock %}