<table class="table table-responsive table-bordered table-striped table-hover">
<thead>
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Состояние</th>
    </tr>
</thead>
<tbody>
{% for pep in items %}
    <tr class="{{ pep.bg_class }}">
        <td width="8%">{{ pep.num }}</td>
        <td><a href="{{ pep.get_absolute_url }}">{{ pep.title }}</a></td>
        <td class="text-center"><code>{{ pep.display_type_letter }}</code></td>
        <td class="text-center"><code>{{ pep.display_status_letter }}</code></td>
    </tr>
{% endfor %}
</tbody>
</table>