{% load sitetree %}
{% if sitetree_items|length == 1 %}
{% else %}
<nav aria-label="breadcrumb" class="breadcrumbs small">
    <ol class="breadcrumb bg-light" vocab="https://schema.org/" typeof="BreadcrumbList">
        {% for item in sitetree_items %}
            {% if not forloop.last %}
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="{% sitetree_url for item %}">
                        <span property="name">{{ item.title_resolved }}</span></a>
                    <meta property="position" content="{{ forloop.counter }}">
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                    <span property="name">{{ item.title_resolved }}</span>
                    <meta property="position" content="{{ forloop.counter }}">
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
