{% if links %}

    <table class="table table-hover table-condensed table-striped">
        {% for link in links %}
            <tr>
                <td>
                    {% if link.icon_url %}
                        <img src="{{ link.icon_url }}" width="16" height="16" alt="{{ link.title }}">&nbsp;
                    {% endif %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </td>
                <td>{{ link.price }}</td>
            </tr>
        {% endfor %}
    </table>
    {% with links|first as first_link %}
        <small class="cl__gray pull-right"><small>
            * Данные о ценах собраны {{ first_link.time }}.
        </small></small>
    {% endwith %}
    <div class="clearfix"></div>

{% else %}
    К сожалению отыскать для вас эту книгу на полках интернет-магазинов нам не удалось.<br>
    Если вам известно, где её нужно искать, поделитесь этим с нами.
{% endif %}