{% extends "base_listing.html" %}

{% block page_title %}Какие конференции Python, встречи, митапы посетить{% endblock %}

{% block bar_right %}
    <div class="card border-info mt-3">
        <div class="card-header">
            <h5 class="card-title">Как добавить событие</h5>
        </div>
        <div class="card-body">
            Чтобы ваше событие отобразилось здесь, вы можете:
            <br>
            а. заполнить форму события прямо на нашем сайте,<br>
            б. зарегистрировать событие <a href="https://wiki.python.org/moin/PythonEventsCalendar" rel="nofollow">в одном из общих календарей</a>.
        </div>
    </div>
{% endblock %}
