{% extends "base_edit.html" %}


{% block hint %}
    <ol>
        <li><strong>Не добавляйте сайты не являющиеся представительством сообществ;</strong></li>
        <li>Сообщество может быть и виртуальным (например, IRC канал), главное, чтобы оно представляло группу людей, входящих в него <b>по своей воле</b>;</li>
        <li>Не путайте сообщества с событиями. Для событий существует <a href="{% url "events:add" %}">отдельный раздел</a>;</li>
        <li>Если сообщество региональное, используйте привязку к месту.</li>
    </ol>
{%  endblock %}