{% extends "base_details.html" %}
{% load gravatar model_meta model_field sitetree static cache %}
{% get_static_prefix as STATIC_URL %}


{% block page_description %}{{ person.name }}. Вклад в развитие языка программирования Python.{% endblock %}
{% block page_keywords %}{{ block.super }}, {{ person.name }}, {{ person.name_en }}, {{ person.aka }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub_vk_head.html" %}
{% endblock %}


{% block meta_og %}
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ person.get_display_name }}" />
    <meta property="og:description" content="{% sitetree_page_description from "main" %}" />
{% endblock %}


{% block schema_type %}Person{% endblock %}


{% block details_contents %}
    <div class="marg__b_mid text-muted marg__l_mid">
        <table class="small" width="40%">
            <tr>
                <td width="45%">{% model_field_verbose_name from person.name %}:</td>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <td>{% model_field_verbose_name from person.name_en %}:</td>
                <td>{{ person.name_en }}</td>
            </tr>
            <tr>
                <td>{% model_field_verbose_name from person.aka %}:</td>
                <td>{{ person.aka }}</td>
            </tr>
            {% if person.user %}
            <tr>
                <td colspan="2">
                    <div class="marg__t_mid">
                        <a href="{{ person.user.get_absolute_url  }}" class="btn btn-primary btn-sm">Профиль пользователя сайта &hellip;</a>
                    </div>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>


{% cache 300 person_materials person.pk %}
    {% if materials %}
    <div class="marg__t_max">
        {% include "sub_realms_links_tabs.html" with realms_links=materials %}
    </div>
    {% endif %}
{% endcache %}

{% endblock %}