{% load model_field thumbs %}

{% if items %}
    {% model_field_verbose_name from items.supporters_num as title_supporters %}
    {% model_field_verbose_name from items.url as title_url %}
    <ul class="media-list">
    {% for community in items %}
        {% thumbs_get_thumb_url community.cover 100 131 realm as thumb_url %}

        <li class="marg__b_mid media">
            <div class="media-body">
                <h4><a href="{{ community.get_absolute_url }}">{{ community.title }}</a></h4>
                <div class="marg__b_min"><i>{{ community.description }}</i></div>
            </div>
            <div class="media-right">
                {% if thumb_url %}
                    <img src="{{ thumb_url }}" class="img-rounded media-object {% if not nofade %}faded{% endif %}" alt="{{ community.title }}">
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}