{% extends "_base.html" %}
{% load model_field %}

{% block page_keywords %}{{ realm.view_listing_keywords }}{% endblock %}


{% block page_contents %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if communities %}
                {% model_field_verbose_name from communities.supporters_num as title_supporters %}
                {% model_field_verbose_name from communities.url as title_url %}
                <ul>
                {% for community in communities %}
                    <li class="marg__b_mid">
                        <h4><a href="{{ community.get_absolute_url }}">{{ community.title }}</a></h4>
                        <div class="marg__b_min"><i>{{ community.description }}</i></div>
                        <small class="text-muted">
                            <span class="label label-default">{{ title_supporters }}: {{ community.supporters_num }}</span> &nbsp;&nbsp;
                            {% if community.url %}
                                <span>{{ title_url }}: <a href="{{ community.url }}">{{ community.url }}</a></span>
                            {% endif %}
                        </small>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">Нет сообществ для отображения.</div>
            {% endif %}

        </div>
    </div>

    {% include "sub_paginator.html" with paginator=communities %}
{%  endblock %}