{% load model_field %}

{% if items %}
    {% model_field_verbose_name from items.supporters_num as title_supporters %}
    {% model_field_verbose_name from items.url as title_url %}
    <ul>
    {% for community in items %}
        <li class="marg__b_mid">
            <h4><a href="{{ community.get_absolute_url }}">{{ community.title }}</a></h4>
            <div class="marg__b_min"><i>{{ community.description }}</i></div>
            <small class="text-muted">
                <span class="label label-default">{{ title_supporters }}: {{ community.supporters_num }}</span> &nbsp;&nbsp;
                {% if community.url %}
                    <span>{{ title_url }}: <a href="{{ community.url }}">{{ community.url }}</a></span>
                {% endif %}
            </small>
        </li>
    {% endfor %}
    </ul>
{% endif %}