{% extends "_base.html" %}
{% load sitetree %}


{% block page_description %}{% endblock %}
{% block page_title %}404 Страница не найдена{% endblock %}


{% block page_contents %}

    <div class="page-header">
        <h1>404 Страница не найдена</h1>
    </div>

    <div class="section">
        Мы не можем показать вам запрошенную вами страницу и потому показываем эту.<br>
        Возможно запрашиваемая страница была удалена, или перемещена, или вовсе не существовала.<br>
        Удостоверьтесь в правильности ссылки, попробуйте воспользоваться поиском.
    </div>

    {% include "sub_zen.html" %}

{%  endblock %}