{% extends "static/_base_sitetreed.html" %}

{% block body %}

        <p>
            Это площадка для русскоязычного сообщества людей, создающих приложения при помощи
            языка программирования Python, и попытка заинтересовать тех, кто ещё не знаком с ним.
        </p>
        <p>
            Проект разрабатывается открыто: вы можете посетить <a href="https://github.com/idlesign/pythonz/">страницу проекта на GitHub</a>,
            ознакомится с кодом и поучаствовать в развитии &#8212; поделиться идеей, задать вопрос, расширить функциональность, исправить ошибку.<br>
        </p>
        <p><i>Приходите, приводите друзей.</i></p>

        <h3>Безопасность</h3>
        <p>
            В случае обнаружения проблемы безопасности в проекте, пожалуйста, сообщите о ней
            на адрес <a href="mailto:security@pythonz.net">security@pythonz.net</a> до обнародования.
        </p>
        <p>
            В письме желательно указать на место в коде, ответственное за уязвимость. Хорошо, если вы также приведёте пример эксплуатации найденной уязвимости.
        </p>

{% endblock %}
