{% extends "static/_base_sitetreed.html" %}
{% load sitetree %}


{% block page_contents %}

    <div class="page-header">
        <h1>{% sitetree_page_title from "about" %}</h1>
    </div>

    <div class="section">
        Python &#8212; высокоуровневый язык программирования с динамической типизацией, поддерживающий объектно-ориентированный,
        функциональный и императивный стили программирования. Это язык общего назначения, на котором можно
        одинаково успешно разрабатывать системные приложения с графическим интерфейсом, утилиты командной строки, научные приложения, игры, приложения для веб и много другое.
    </div>

    <div class="features section">
        <div class="row features_row">
            <div class="col-md-4 text-center">
                <i class="fa fa-trophy"></i>
                <h4>Простота изучения</h4>
                <p>
                    Благодаря лаконичности и отличной документированности изучать Python увлекательно и просто.
                </p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-line-chart"></i>
                <h4>Эффективность</h4>
                <p>
                    Python позволяет быстро и эффективно разрабатывать программное обеспечение, а значит повысить продуктивность разработчика и снизить затраты на поддержку.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-users"></i>
                <h4>Сообщество</h4>
                <p>
                    Сообщество Python основывается на уважении и взаимопомощи: здесь привыкли помогать и советом, и делом.
                </p>
            </div>
        </div>

        <div class="row features_row">
            <div class="col-md-4 text-center">
                <i class="fa fa-battery-full"></i>
                <h4>Батарейки в комплекте</h4>
                <p>
                    Богатая стандартная библиотека чрезвычайно облегчает решение многих задач. Дополнительные модули, доступные в сети, помогут решить практически любую задачу.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-ticket"></i>
                <h4>Открытая лицензия</h4>
                <p>
                    Лицензия Python является открытой и позволяет использовать его для создания коммерческих продуктов.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-desktop"></i>
                <h4>Кроссплатформенность</h4>
                <p>
                    Python работает на множестве операционных систем семейств Linux, Unix, OS X, Windows и др.
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="page-header">
            <h2>Где взять</h2>
        </div>
        <p>
            Если вы используете операционные системы семейств Linux, Unix, или OS X, то Python у вас уже установлен.<br>
            В остальных случаях, можете скачать установочный пакет или архив с исходным кодом нужной версии из раздела <a href="/versions/">Версии Python</a>.
        </p>
        <p>Откройте окно терминала, наберите <code>python</code>, нажмите клавишу <kbd>Enter</kbd>, чтобы перейти в интерактивный режим работы интерпретатора и узнать, какая версия Питона установлена:</p>
        <pre><code class="bash">
$ python<br><br>

Python 3.6.4 (default, Dec 19 2017, 17:29:45)<br>
[GCC 5.4.0 20160609] on linux<br>
Type "help", "copyright", "credits" or "license" for more information.<br>
>>>
        </code></pre>
        <p>Нажмите <kbd>Ctrl+D</kbd>, чтобы покинуть интерактивный режим.</p>
    </div>

{%  endblock %}