{% extends "_base.html" %}
{% load sitetree %}

{% block page_title %}PYTHONZ - {% sitetree_page_title from "about" %}{% endblock %}
{% block page_description %}{% sitetree_page_description from "about" %}{% endblock %}

{% block page_contents %}
    <div class="page-header">
        <h1>{% sitetree_page_title from "about" %}</h1>
    </div>
    {% include "sub_search_bar.html" %}
    <div id="ya-site-results" onclick="return {'tld': 'ru','language': 'ru','encoding': '','htmlcss': '1.x','updatehash': true}"></div>
    <script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0];s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Results.init();})})(window,document,'yandex_site_callbacks');</script>
{%  endblock %}