{% extends "static/_base_sitetreed.html" %}

{% block body %}
    <div class="marg__b_mid">{% include "sub_box_ads.html" with area="searchtop" %}</div>
    <div class="marg__b_mid" itemscope itemtype="http://schema.org/SearchResultsPage">
    {% include "sub_search_bar.html" %}
    <div id="ya-site-results" onclick="return {'tld': 'ru','language': 'ru','encoding': '','htmlcss': '1.x','updatehash': true}"></div>
    <script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0];s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Results.init();})})(window,document,'yandex_site_callbacks');</script>
    </div>
    <div>{% include "sub_box_ads.html" with area="searchbottom" %}</div>
{%  endblock %}

{% block zen %}{% endblock %}

{% block ads %}
    {% include "sub_box_ads.html" with area="rightbar" type="search" %}
{% endblock %}
