Django>=1.7
Pillow
bleach
django-admirarchy
django-datetime-widget
django-debug-toolbar
django-etc
django-siteblocks
django-sitecats
django-siteflags
django-sitegate
django-sitemessage
django-sitemetrics
django-siteprefs
django-sitetree
django-xross
psycopg2
pytz
requests
twitter
