//------------------------------------------
// Variables.

@cl__blue: #3776ab;
@cl__yellow: #ffd343;
@cl__green: #82b043;
@cl__gray: #888;
@cl__white: #fff;
@cl__black: #000;

@gap__max: 40px;
@gap__mid: 20px;
@gap__min: 10px;
@gap__no: 0;

@fnt__brand: Belleza, sans-serif;
@fnt__headers: 'PT Serif', serif;

//------------------------------------------
// Helpers.

.block {
  display: inline-block;
}

.of__hidden {
  overflow: hidden;
}

.cl__blue {
  color: @cl__blue;
}

.cl__yellow {
  color: @cl__yellow;
}

.cl__green {
  color: @cl__green;
}

.cl__gray {
  color: @cl__gray;
}

.pad__t_min {
  padding-top: @gap__min;
}

.pad__t_mid {
  padding-top: @gap__mid;
}

.marg__t_min {
  margin-top: @gap__min;
}

.marg__t_mid {
  margin-top: @gap__mid;
}

.marg__t_max {
  margin-top: @gap__max;
}

.marg__b_min {
  margin-bottom: @gap__min;
}

.marg__b_mid {
  margin-bottom: @gap__mid;
}

.marg__b_max {
  margin-bottom: @gap__max;
}

.marg__l_min {
  margin-left: @gap__min;
}

.marg__l_mid {
  margin-left: @gap__mid;
}

.marg__r_min {
  margin-right: @gap__min;
}

.marg__r_mid {
  margin-right: @gap__mid;
}


//------------------------------------------
// Bootstrap overrides.

.footer {
  border-bottom: none;
  margin-top: @gap__max;
  padding-top: @gap__mid;
  font-size: 12px;
  .menu li {
    display: inline-block;
    margin-right: @gap__min;
  }

}

.panel {
  .panel-body {
    color: lighten(@cl__black, 30%);
    ul, ol {
      padding-left: inherit;
      padding-right: inherit;
    }
  }
}

.page-header {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
  input {
    margin-top: 4px;
    height: 30px;
    max-width: 180px;
    font-size: 15px
  }
  .navbar-brand img {
    margin: 5px;
  }
}

.control-label {
  font-weight: normal;
  color: darken(@cl__white, 60%);
}

.well a {
  color: darken(@cl__white, 60%);
  text-decoration: underline;
}

.breadcrumb {
  font-size: 12px;
  padding: 0;
  margin: 0;
}


//------------------------------------------
// Html overrides.

.b-forgetmenot_size_l {
  height: 28px !important;
}

html, body {
  padding-top: @gap__mid;
}

header {
  h1 {
    font-family: @fnt__brand;
    font-size: 45px;
  }
  a:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @fnt__headers;
}

h6 {
  padding-bottom: @gap__min;
  font-weight: bold;
  margin-bottom: @gap__mid;
  color: lighten(@cl__blue, 10%);
  border-bottom: 1px @cl__blue dashed;
}

input[type=checkbox] {
  display: inline-block;
  width: @gap__min;
  float: right;
}


//------------------------------------------
// Custom elements.

#page_controls {
  width: 100%;
  text-align: center;

  form {
    display: inline;
  }

}

#bar__most_voted {
  background-color: lighten(@cl__gray, 45%);
  border-radius: 10px;
}

//------------------------------------------
// Custom classes singles.

nav .submenu {
  border-left: 4px @cl__green solid;
}

.body {
  background-color: @cl__white;
  padding-top: @gap__max;
  padding-bottom: @gap__max;
}

.section {
  .marg__b_max;
}

.mod__has_tooltip {
  cursor: help;
}

.icon_entity {
  font-size: @gap__max;
  margin-right: @gap__mid;
  float: left;
  color: @cl__blue;
}

.form_table td {
  vertical-align: top;
}

.listing_item.small {
  min-height: 80px;
}

.float_panel {
  min-width: 250px;
}

.userlist_item {
  margin: 2px;
}


//------------------------------------------
// Custom classes families.


.gist {
  overflow: auto;
  pre {
    font-size: 12px !important;
  }
}


.discussions {
  list-style-type: none;
  padding: 0;
  .well {
    background-color: @cl__white;
  }
  .discussion {
    padding: @gap__min;
  }
  .discussion:hover {
    background-color: lighten(@cl__green, 50%);
  }
}

.vacancies {
  .label {
    font-family: Verdana, Arial, helvetica, sans-serif;
  }
}

.tags_box {
  font-family: Verdana, Arial, helvetica, sans-serif;
  .big {
     .title {
       font-size: @gap__mid;
       min-width: 250px;
       max-width: 250px;
     }
    .categories_box {
       margin-bottom: @gap__max;
    }
    .list_entry {
      margin-right: @gap__mid;
    }
  }
  ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    vertical-align: middle;
  }
  .categories_box {
    margin-bottom: @gap__min;
    font-size: 14px;
  }
  .btn_remove {
    margin-right: @gap__min;
  }
  form {
    display: inline;
  }
  .title {
    color: @cl__gray;
    min-width: 55px;
    max-width: 55px;
    font-size: @gap__min;
    display: inline;
    float: left;
    margin-right: @gap__min;
  }
  .choice {
    margin-right: @gap__min;
    font-size: 12px;
    color: @cl__blue;
    cursor: pointer;
  }
  .editor {
    margin: @gap__min 0 @gap__min 63px;
    padding-bottom: @gap__min;
    border-bottom: 1px solid lighten(@cl__gray, 40%);
  }
  li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

.zen {
  .eng {
    line-height: 1.3em;
    font-size: @gap__min;
  }
  h2 {
    line-height: 1.2em;
  }
  .small {
    font-size: @gap__min;
    text-align: right;
  }
}

.features {
  .features_row {
    div {
      min-width: 100px;
      padding: @gap__min;
    }
  }
  i {
    color: lighten(@cl__black, 50%);
    font-size: 28px;
  }
  a {
    color: lighten(@cl__black, 85%);
  }
  i:hover, a:hover {
    color: @cl__blue;
    text-decoration: none;
  }
}

.cover_img {
  .icon_entity {
    padding: @gap__mid;
    color: lighten(@cl__gray, 20%);
    min-width: 100px;
  }
  a {
    text-align: center;
  }
}

.faded {
  opacity: 0.1;

}
.faded:hover {
    opacity: 1;
}

.listing_item {
  padding: @gap__min;
  min-width: 350px;
  max-width: 350px;
  min-height: 150px;
  max-height: 150px;
  float: left;
  margin-right: @gap__mid;
  margin-top: @gap__mid;
  border-right: 1px solid lighten(@cl__gray, 40%);
  img {
    margin-right: @gap__mid;
    float: left;
  }
  sup {
    color: @cl__gray;
  }
  .rating {
    position: absolute;
    margin-left: @gap__min;
  }
  .description {
    overflow: hidden;
    .small {
      margin-top: @gap__min;
      font-size: @gap__min;
    }
  }
}

#index_box {
  @width: 450px;
  column-width: @width;
  -webkit-column-width: @width;
  -moz-column-width: @width;
  .panel{
    display: inline-block;
    width: 100%;
  }
}
