{% extends "base_listing.html" %}

{% block page_title %}Работа для разработчиков Python{% endblock %}

{% block bar_right %}

    <div class="card border-info mt-3">
        <div class="card-header">
            <h5 class="card-title">Как добавить вакансию</h5>
        </div>
        <div class="card-body">
        Вы можете опубликовать вакансию на <a href="https://novosibirsk.hh.ru/auth/employer">hh.ru</a>,
            и, если она имеет отношение к Питону, мы покажем её здесь автоматически.
        </div>
    </div>

    <div class="mt-3">
        <h3>Статистика
        <sup class="small tooltipped" title="Собрана по данным вакансий, актуальных на текущий момент">
            <i class="fa fa-question-circle"></i>
        </sup>
        </h3><hr>
    </div>

    <div class="mb-3 small">

        {% include "realms/vacancies/stats_salary.html" %}

        {% if stats_places %}
            <h4 class="mt-2 ml-2 text-right">Места</h4>
            <table class="table">
                <tbody>
                    {% for stat_row in stats_places %}
                    <tr>
                        <td>
                            {% if stat_row.is_published %}
                            <a href="{{ stat_row.get_absolute_url }}">{{ stat_row.title }}</a>
                            {% else %}
                            {{ stat_row.title }}
                            {% endif %}
                        </td>
                        <td>{{ stat_row.vacancies_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="clearfix"></div>
    </div>


{% endblock %}
