{% extends "static/_base_sitetreed.html" %}

{% block body %}
    <div itemscope itemtype="https://schema.org/AboutPage">
        <p>
            Это площадка для русскоязычного сообщества людей, создающих приложения при помощи
            языка программирования Python, и попытка заинтересовать тех, кто ещё не знаком с ним.<br><br>
            <i>Приходите, приводите друзей.</i>
        </p>

        <div>
            <div class="mt-4">

                <div class="mb-4">
                    <h4>Посетителям</h4>
                    <p>
                        Регистрируйтесь, оценивайте материалы, добавляйте новые, актуализируйте информацию в имеющихся, принимайте участие в обсуждениях.
                    </p>
                </div>

                <div class="mb-4">
                    <h4>Разработчикам</h4>
                    <p>
                        Проект разрабатывается открыто: вы можете посетить <a href="https://github.com/idlesign/pythonz/">страницу проекта на GitHub</a>,
                        ознакомится с кодом и поучаствовать в развитии &#8212; поделиться идеей, задать вопрос, расширить функциональность, исправить ошибку.<br>
                    </p>
                </div>

                <div class="mb-4">
                    <h4>Безопасность</h4>
                    <p>
                        В случае обнаружения проблемы безопасности в проекте, пожалуйста, сообщите о ней
                        на адрес <a href="mailto:security@pythonz.net">security@pythonz.net</a> до обнародования.
                    </p>
                    <p>
                        В письме желательно указать на место в коде, ответственное за уязвимость. Хорошо, если вы также приведёте пример эксплуатации найденной уязвимости.
                    </p>
                </div>

                <div class="mb-4">
                    <h4>Про вандализм</h4>
                    <p>
                        Предполагается, что посетители сайта заинтересованы в конструктивном общении и поддержании благожелательной атмосферы.
                    </p>
                    <p>
                        Поэтому к совершающим любые деструктивные действия на площадке сайта и связанных проектов
                        будут, при обнаружении факта упомянутых действий, <b>без дополнительных предупреждений</b> применены меры
                        в виде ограничения прав доступа к упомянутым здесь ресурсам и/или их функциональности.
                    </p>
                    <p>
                        К деструктивным действиям можно отнести, например: использование нецензурной лексики,
                        оскорбление других пользователей, порча опубликованных материалов.
                    </p>
                </div>

            </div>
        </div>

    </div>
{% endblock %}


{% block zen %}{% endblock %}
