{% extends "static/_base_sitetreed.html" %}
{% load sitetree %}


{% block page_contents %}

    <div class="page-header">
        <h1 data-geopattern="i">{% sitetree_page_title from "about" %}</h1>
    </div>

    <div class="mt-4 mb-4">
        Python &#8212; высокоуровневый язык программирования с динамической типизацией, поддерживающий объектно-ориентированный,
        функциональный и императивный стили программирования. Это язык общего назначения, на котором можно
        одинаково успешно разрабатывать системные приложения с графическим интерфейсом, утилиты командной строки, научные приложения, игры, приложения для веб и много другое.
    </div>


    <div id="carousel-promo" class="carousel slide p-4 rounded bg-light" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-trophy fa-3x mb-4"></i>
                    <h5>Простота изучения</h5>
                    <p>Благодаря лаконичности и отличной документированности изучать Python увлекательно и просто.</p>
                </div>

            </div>
            <div class="carousel-item">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-line-chart fa-3x mb-4"></i>
                    <h5>Эффективность</h5>
                    <p>Python позволяет быстро и эффективно разрабатывать программное обеспечение, а значит повысить продуктивность разработчика и снизить затраты на поддержку.</p>
                </div>

            </div>
            <div class="carousel-item">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-users fa-3x mb-4"></i>
                    <h5>Сообщество</h5>
                    <p>Сообщество Python основывается на уважении и взаимопомощи: здесь привыкли помогать и советом, и делом.</p>
                </div>

            </div>

            <div class="carousel-item">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-battery-full fa-3x mb-4"></i>
                    <h5>Батарейки в комплекте</h5>
                    <p>Богатая стандартная библиотека чрезвычайно облегчает решение многих задач. Дополнительные модули, доступные в сети, помогут решить практически любую задачу.</p>
                </div>

            </div>
            <div class="carousel-item">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-ticket fa-3x mb-4"></i>
                    <h5>Открытая лицензия</h5>
                    <p>Лицензия Python является открытой и позволяет использовать его для создания коммерческих продуктов.</p>
                </div>

            </div>
            <div class="carousel-item">

                <svg class="d-block w-100" width="100%" height="250" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#fafafa" width="100%" height="100%"></rect></svg>

                <div class="carousel-caption text-body">
                    <i class="fa fa-desktop fa-3x mb-4"></i>
                    <h5>Кроссплатформенность</h5>
                    <p>Python работает на множестве операционных систем семейств Linux, Unix, OS X, Windows и др.</p>
                </div>

            </div>

        </div>

        <a class="carousel-control-prev text-body" href="#carousel-promo" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">Обратно</span>
        </a>
        <a class="carousel-control-next text-body" href="#carousel-promo" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">Вперёд</span>
        </a>

    </div>

    <div class="mt-5 mb-4">
        <p>
            Если вы используете операционные системы семейств Linux, Unix, или OS X, то Python у вас уже установлен.<br>
            В остальных случаях, можете скачать установочный пакет или архив с исходным кодом нужной версии из раздела <a href="/versions/">Версии Python</a>.
        </p>
        <p>Откройте окно терминала, наберите <code>python</code>, нажмите клавишу <kbd>Enter</kbd>, чтобы перейти в интерактивный режим работы интерпретатора и узнать, какая версия Питона установлена:</p>
        <pre><code class="bash">
$ python3<br><br>

Python 3.13.3 (main, Jun 16 2025, 18:15:32) [GCC 14.2.0] on linux<br>
Type "help", "copyright", "credits" or "license" for more information.<br>
>>>
        </code></pre>
        <p>Нажмите <kbd>Ctrl+D</kbd>, чтобы покинуть интерактивный режим.</p>
    </div>

{%  endblock %}