{% extends "base_details.html" %}
{% load sitecats %}


{% block page_description %}Python в городе {{ place.title }}{% endblock %}


{% block page_keywords %}{{ block.super }}, питон в {{ place.title }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub/ya_map_head.html" %}
{% endblock %}


{% block schema_type %}AdministrativeArea{% endblock %}


{% block cover %}
    <div id="cover-map" style="width: 260px; height: 300px;"></div>
    {% include "sub/ya_map.html" with item=item element_id="cover-map" %}
{% endblock %}


{% block details_contents %}

    {% if allow_im_here %}
        <div id="im_here_box" class="mb-3">
            <button id="set_im_here" data-xtarget="im_here_box" data-xsuccess="remove" class="xross btn btn-warning" title="Нажмите, если находитесь в этом месте.">Я здесь!</button>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}


{% block column_controls %}
    {% if stats_salary %}
    <div class="small mb-4">
        {% include "realms/vacancies/stats_salary.html" %}
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block details_contents_after %}

<div class="card card-default card-body">
    <ul class="nav nav-tabs mb-3" role="tablist" id="tabs-realms">
        {% if vacancies %}<li role="presentation" class="nav-item">
            <a href="#vacancies" class="nav-link" aria-controls="vacancies" role="tab" data-toggle="tab">Вакансии</a>
        </li>{% endif %}

        {% if events %}<li role="presentation" class="nav-item">
            <a href="#events" class="nav-link" aria-controls="events" role="tab" data-toggle="tab">События</a>
        </li>{% endif %}

        {% if users %}<li role="presentation" class="nav-item">
            <a href="#users" class="nav-link" aria-controls="users" role="tab" data-toggle="tab">Пользователи</a>
        </li>{% endif %}

        {% if communities %}<li role="presentation" class="nav-item">
            <a href="#communities" class="nav-link" aria-controls="communities" role="tab" data-toggle="tab">Сообщества</a>
        </li>{% endif %}

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="vacancies">{% include "realms/places/sub_realm_links.html" with items=vacancies %}</div>
        <div role="tabpanel" class="tab-pane" id="users">{% include "realms/places/sub_realm_links.html" with items=users %}</div>
        <div role="tabpanel" class="tab-pane" id="communities">{% include "realms/places/sub_realm_links.html" with items=communities %}</div>
        <div role="tabpanel" class="tab-pane" id="events">{% include "realms/places/sub_realm_links.html" with items=events %}</div>
    </div>
</div>

{% endblock %}

{% block js_bottom %}

    <script type="text/javascript">
        $(function(){
            $('#tabs-realms a:first').tab('show');
        });
    </script>

{% endblock %}
