{% extends "realms/categories/_base.html" %}
{% load sitecats cache %}

{% block page_title %}Материалы про {{ item.title }}{% endblock %}
{% block page_description %}Здесь перечислены материалы в категории «{{ item.title }}», связанные с Python. {{ item.note|truncatechars:80 }}{% endblock %}


{% block page_keywords %}{{ block.super }}, {{ item.title }}{% endblock %}


{% block workarea %}
    {% if item.note %}
        <blockquote>{{ item.note|urlize }}</blockquote>
    {% endif %}

    {% cache 3600 category_materials item.pk %}
        {% if realms_links %}
            {% include "sub/realms_links_tabs.html" %}
        {% else %}
            Пока нет материалов связанных с этой категорией.
        {% endif %}
    {% endcache %}

{% endblock %}
