{% extends "base_details.html" %}
{% load sitecats %}


{% block head %}
    {{ block.super }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}


{% block schema_type %}Place{% endblock %}


{% block cover %}
    <div id="cover_map" style="width: 260px; height: 300px;"></div>
    <script type="text/javascript">
        ymaps.ready(function() {
            var pos = [{{ item.geo_pos }}],
                title = '{{ item.title }}',
                cover_map = new ymaps.Map('cover_map', {center: pos, zoom: 2, controls: []}),
                place_mark = new ymaps.Placemark(pos, {iconContent: title}, {preset: 'islands#darkBlueStretchyIcon'});
            cover_map.geoObjects.add(place_mark);
        });
    </script>
{% endblock %}


{% block details_contents %}

    {% if allow_im_here %}
        <div id="im_here_box" class="marg__b_mid">
            <button id="set_im_here" data-xtarget="im_here_box" data-xsuccess="remove" class="xross btn btn-warning" title="Нажмите, если находитесь в этом месте.">Я здесь!</button>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}


{% block details_contents_after %}
    <div class="marg__b_mid marg__t_max">
        {% include "realms/places/sub_realm_links.html" with items=users title="Люди" %}
        {% include "realms/places/sub_realm_links.html" with items=communities title="Сообщества" %}
        {% include "realms/places/sub_realm_links.html" with items=events title="События" %}
        {% include "realms/places/sub_realm_links.html" with items=vacancies title="Вакансии" %}
    </div>
{% endblock %}

{% block details_linked %}{% endblock %}