{% extends "base_details.html" %}
{% load sitecats %}


{% block head %}
    {{ block.super }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}


{% block cover %}
    <div id="cover_map" style="width: 260px; height: 300px;"></div>
    <script type="text/javascript">
        ymaps.ready(function() {
            var pos = [{{ item.geo_pos }}],
                title = '{{ item.title }}',
                cover_map = new ymaps.Map('cover_map', {center: pos, zoom: 2, controls: []}),
                place_mark = new ymaps.Placemark(pos, {iconContent: title}, {preset: 'islands#darkBlueStretchyIcon'});
            cover_map.geoObjects.add(place_mark);
        });
    </script>
{% endblock %}


{% block details_contents_after %}
    <div class="marg__b_mid marg__t_min">
    {% if users %}
        <h4>Люди</h4>
        <ul>
        {% for user in users %}
            <li><a href="{{ user.get_absolute_url }}">{{ user.get_display_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}

{% block details_linked %}{% endblock %}