{% load sitemetrics sitetree pythonz_version cache etc_misc static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="UTF-8">
    <meta name="language" content="ru" />
    <meta name="description" content="{% block page_description %}{% sitetree_page_description from "main" %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}pythonz, сайт про python, материалы по python{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_og %}{% endblock %}

    <meta property="og:site_name" content="Про Python" />

    {% if item %}{% with url=item.absolute_url_prefixed %}
    <meta property="og:url" content="{{ url }}" />
    <link rel="canonical" href="{{ url }}" itemprop="url">
    {% endwith %}{% endif %}

    <script src="//yandex.st/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function yaAd(renderDetails){
            (function(w,d,n,s,t){w[n]=w[n]||[];w[n].push(function(){Ya.Context.AdvManager.render(renderDetails);});t=d.getElementsByTagName("script")[0];s=d.createElement("script");s.type="text/javascript";s.src="//an.yandex.ru/system/context.js";s.async=true;t.parentNode.insertBefore(s,t);})(this,this.document,"yandexContextAsyncCallbacks");}
        function getGet(a,o){var r=(new RegExp('[?&]'+a+'=([^&]*)')).exec(location.search);if(!r){return o} return decodeURIComponent(r[1]);}
    </script>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pythonz.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href='//fonts.googleapis.com/css?family=Belleza|PT+Serif&amp;subset=cyrillic' rel='stylesheet' type='text/css'>

    <link href="{{ STATIC_URL }}img/favicon.gif" rel="icon" type="image/gif" />

    {% block head %}
        {% if realm.syndication_enabled %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ realm.get_syndication_url }}" />
        {% endif %}
    {% endblock %}

    <title itemprop="name">{% block page_title %}{% sitetree_breadcrumbs from "main" template "sitetree/breadcrumbs-title.html" %}{% endblock %}</title>

</head>
<body>
    {% block body_start %}{% endblock %}

    <nav class="header navbar navbar-default navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_toggable" aria-expanded="false">
                    <span class="sr-only">Показать/скрыть меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/" title="На главную страницу pythonz.net">
                    <img src="{{ STATIC_URL }}img/favicon.gif" alt="pythonz">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="nav_toggable">

                {% sitetree_menu from "main" include "topmenu" template "sitetree/menu_top.html" %}

                {% with template_path="sitetree/menu_top_sub.html" %}

                    <div class="submenu navbar-nav navbar-left marg__l_mid bg-success">
                    {% if view.name == 'listing' %}
                        {% sitetree_menu from "main" include "this-children" template template_path %}
                    {% else %}
                        {% sitetree_menu from "main" include "this-siblings" template template_path %}
                    {% endif %}
                    </div>
                {% endwith %}

                <div itemscope itemtype="http://schema.org/WebSite">
                    <meta itemprop="url" content="{% site_url %}"/>

                    <form class="navbar-form navbar-left" action="/search/" method="post" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                        {% csrf_token %}
                        <div class="form-group" role="search">
                            <meta itemprop="target" content="{% site_url %}/search/?text={search_term}"/>
                            <input type="text" class="form-control" autofocus name="text" placeholder="Поиск по справочнику" value="{{ search_term }}" required itemprop="query-input">
                        </div>
                    </form>

                </div>

                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user.get_full_name|default:request.user.username }} <b class="caret"></b></a>
                        {% sitetree_menu from "main" include "personal" template "sitetree/menu_bootstrap3_dropdown.html" %}
                    </li>
                {% else %}
                    <li><a href="{% url "login" %}" class=""><i class="fa fa-fw fa-sign-in"></i>&nbsp;Вход</a></li>
                {% endif %}
                </ul>

            </div>

        </div>
    </nav>


    <div class="container body">
        {% if messages %}
        <div id="notices">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% block page_contents_pre %}{% endblock %}
        {% block page_contents %}{% endblock %}
        {% block page_contents_post %}{% endblock %}
    </div>

    {% cache 21600 nav_bottom %}
    <nav class="footer navbar navbar-default navbar-inverse marg__t_max" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    {% sitetree_menu from "about" include "trunk" template "sitetree/menu_footer.html"  %}
                </div>
                <div class="col-md-6 col-xs-9">
                    {% sitetree_menu from "main" include "topmenu" template "sitetree/menu_footer.html" %}
                </div>
                <div class="col-md-3 col-xs-3 text-right">
                    <address>
                        <a href="mailto:press@pythonz.net" title="Почта для контактов"><i class="fa fa-fw fa-2x fa-envelope-o"></i></a>
                        <a href="https://github.com/idlesign/pythonz/" title="На GitHub"><i class="fa fa-fw fa-2x fa-github"></i></a>
                        <a href="https://twitter.com/pythonz_net" title="В Твиттере"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
                        <a href="http://vk.com/pythonz" title="Во ВКонтакте"><i class="fa fa-fw fa-2x fa-vk"></i></a>
                        <a href="https://www.facebook.com/pythonznet/" title="В Facebook"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
                        <a href="https://telegram.me/pythonz" title="В Telegram"><i class="fa fa-fw fa-2x fa-paper-plane"></i></a>
                    </address>

                </div>
            </div>
        </div>
    </nav>
    {% endcache %}

    <script src="{{ STATIC_URL }}js/xross/xross.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/sitecats/sitecats.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/pythonz.min.js" type="text/javascript"></script>

    <script src="//yandex.st/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        hljs.configure({useBR: true});
        hljs.initHighlightingOnLoad();
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>

    {% block js_bottom %}{% endblock %}

    {% sitemetrics by yandex for "21211468" %}
</body>
</html>