{% extends "_base.html" %}


{% block page_keywords %}{{ realm.view_listing_keywords }}{% if category %}, {{ category.title }}{% endif %}{% endblock %}


{% block page_description %}{{ realm.view_listing_description }}{% if category %}, {{ category.note|truncatechars:100 }}{% endif %}{% endblock %}


{% block page_contents_pre %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}

        {% block promo %}
            {% if category.note %}
                <blockquote>{{ category.note|urlize }}</blockquote>
            {% endif %}
        {% endblock %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 container-fluid">

            <div>
                <h4>
                    Список
                    <sup class="small mod__has_tooltip" title="Новые сверху">
                        <i class="fa fa-info-circle"></i>
                    </sup>
                </h4><hr>
            </div>

            <div>

{%  endblock %}


{% block page_contents %}
    {% include view.template_list_items %}
{%  endblock %}


{% block page_contents_post %}
                {% include "sub_paginator.html" with paginator=items %}

            </div>
        </div>
        <div id="bar__most_voted" class="col-md-4 container-fluid">
            {% block bar_right %}
            <div>
                <h4>
                    Лучшие
                    <sup class="small mod__has_tooltip" title="По мнению пользователей сайта">
                        <i class="fa fa-question-circle"></i>
                    </sup>
                </h4><hr>
            </div>

            <div class="marg__b_mid">
                {% block most_voted %}
                    {% if items_most_voted %}
                        {% include view.template_list_items with items=items_most_voted nofade=1 %}
                    {% else %}
                        Пока этот список не сформирован. Оцените материалы раздела, чтобы исправить ситуацию.
                    {% endif %}
                {% endblock %}
                <div class="clearfix"></div>
            </div>
            {% endblock %}
        </div>
    </div>

{%  endblock %}