{% extends "_base.html" %}
{% load thumbs sitetree siteblocks %}


{% block head %}
    {{ block.super }}
    {% include "sub_vk_head.html" %}
    {% include "sub_fb_head.html" %}
{% endblock %}

{% block body_start %}
    {{ block.super }}
    {% include "sub_fb_body.html" %}
{% endblock %}


{% block page_description %}{{ item.get_short_description }}{% endblock %}


{% block page_keywords %}{{ realm.view_listing_keywords }}{% endblock %}


{% block meta_og %}
    <meta property="og:description" content="{{ item.get_short_description }}" />
    {% if item.cover %}
    <meta property="og:image" content="{% thumbs_get_thumb_url item.cover 180 236 item.realm %}" />
    {% endif %}
{% endblock %}


{% block page_contents %}
    <div class="row">
        <div class="{% block details_main_col %}col-md-9{% endblock %}" itemscope itemtype="http://schema.org/{% block schema_type %}WebPage{% endblock %}">
            {% include "sub_title_block.html" %}

            {% block details_contents %}{% endblock %}
            {% block details_description %}<div class="marg__b_mid"><i itemprop="description">{{ item.description|urlize|linebreaksbr }}</i></div>{% endblock %}
            {% block details_contents_add %}{% endblock %}
            {% block details_author %}
            <div class="marg__t_mid text-muted pull-right">
                {% include "sub_author_editor.html" %}
            </div>
            {% endblock %}
            <div class="clearfix"></div>
            {% block details_contents_after %}{% endblock %}
            {% block details_share %}{% include "sub_box_share.html" %}{% endblock %}
            {% block details_discussions_pre %}{% endblock %}
            {% if item.has_discussions %}
                <hr>
                {% include "sub_comments.html" with disable_disqus=1 %}
            {% endif %}
        </div>

        {% block column_right%}
            <div class="col-md-3">

                <div class="text-center">
                    <div class="block marg__b_mid">
                        {% block cover %}
                            <div class="cover_img">
                                {% thumbs_get_thumb_url item.cover 180 236 item.realm as "thumb_url" %}
                                {% if thumb_url %}
                                <img src="{{ thumb_url }}" class="img-thumbnail" alt="{{ item.title }}">
                                {% else %}
                                    <span class="img-thumbnail icon_entity glyphicon glyphicon-{{ realm.icon }}"></span>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
                {% block column_controls %}{% include "sub_column_controls.html" %}{% endblock %}
            </div>
        {% endblock %}

    </div>
{%  endblock %}