{% extends "_base.html" %}
{% load thumbs sitecats %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block page_contents %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% include "forms/sub_form.html" with form=form %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">К сведению</h3>
                </div>
                <div class="panel-body">
                    {% block hint %}{% endblock %}
                </div>
            </div>
            {% block categories_editor %}
                {% include "sub_box_tags.html" %}
            {% endblock %}
        </div>
    </div>
{%  endblock %}