{% extends "_base.html" %}


{% block page_keywords %}{{ realm.view_listing_keywords }}{% endblock %}


{% block page_contents_pre %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div>
                <h4>
                    Список
                    <sup class="small mod__has_tooltip" title="Новые сверху">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </sup>
                </h4><hr>
            </div>

            <div>

{%  endblock %}


{% block page_contents %}
    {% include view.template_list_items %}
{%  endblock %}


{% block page_contents_post %}
                {% include "sub_paginator.html" with paginator=items %}

            </div>
        </div>
        <div id="bar__most_voted" class="col-md-4">

            <div>
                <h4>
                    Лучшие
                    <sup class="small mod__has_tooltip" title="По мнению пользователей сайта">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </sup>
                </h4><hr>
            </div>

            <div class="marg__b_mid">
                {% block most_voted %}
                    {% if items_most_voted %}
                        {% include view.template_list_items with items=items_most_voted %}
                    {% else %}
                        Пока этот список не сформирован. Оцените материалы раздела, чтобы исправить ситуацию.
                    {% endif %}
                {% endblock %}
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

{%  endblock %}