{% load thumbs %}

{% for item in items %}

    <div class="listing_item">
        <div class="rating"><span class="label label-default">{{ item.supporters_num }}</span></div>
        <div class="cover_img float-right">
        <a href="{{ item.get_absolute_url }}">
            {% include "sub_item_cover.html" %}
        </a>
        </div>
        <div class="description float-right">
            <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title|truncatechars:58 }}</a>
            <div class="small">
                <strong>{{ item.year }}</strong><br>
                <span class="py_user">{{ item.author }}</span>
            </div>
        </div>
    </div>

{% endfor %}