{% extends "_base.html" %}
{% load thumbs sitecats %}

{% block head %}
    {{ form.media }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}

{% block js_bottom %}
<script type="text/javascript">
    pythonz.initEditor($('textarea', '#rst_src')[0]);
</script>
{% endblock %}

{% block page_contents %}

    {% include "sub_title_block.html" %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">К сведению</h3>
        </div>
        <div class="panel-body">
            {% block hint %}{% endblock %}
        </div>
    </div>
    {% block right_bar %}{% endblock %}

    {% block form %}
        {% include "forms/sub_form.html" with form=form %}
    {% endblock %}

    {% block categories_editor %}
        {% include "sub_box_tags.html" %}
    {% endblock %}

{%  endblock %}