{% extends "_base.html" %}


{% block page_title %}Про Python{% endblock %}


{% block js_bottom %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>

    <script type="text/javascript">
        $(function () {
            makeGeopatterns()
        });

        function makeGeopatterns() {
            $.each($('[data-geopattern]'), function(idx, el) {
                el = $(el);
                el.css('background-image', GeoPattern.generate(el.data('geopattern')).toDataUrl());
            });

        }

    </script>


{% endblock %}


{% block page_contents %}
    <h1 class="text-uppercase">Про Python</h1>

    <ul class="list-inline list-unstyled marg__b_mid small pull-right">
        <li><i class="fa fa-question-circle"></i> &nbsp;<a href="/promo/">Что такое Python</a></li>
        <li><a href="/about/">Что это за сайт</a></li>
    </ul>

    <div>
        {% include "sub_search_bar.html" %}
    </div>

    <div id="index_box">
    {% for realm_data in realms_data %}
        {% include "sub_realm_card.html" %}
    {% endfor %}
    </div>
{%  endblock %}