{% extends "_base.html" %}


{% block page_title %}Про Python{% endblock %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}


{% block js_bottom %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#carousel').slick({
                dots: true,
                autoplay: true,
                arrows: false,
                slidesToShow: 2
            });
        });
    </script>
{% endblock %}


{% block page_contents %}
    <h1 class="text-uppercase">Про Python</h1>

    <ul class="list-inline list-unstyled marg__b_mid small pull-right">
        <li><i class="fa fa-question-circle"></i> &nbsp;<a href="/promo/">Что такое Python</a></li>
        <li><a href="/about/">Что это за сайт</a></li>
    </ul>

    <div class="marg__b_mid">
        {% include "sub_search_bar.html" %}
    </div>

    <div class="hidden-xs">
        <h2 class="text-uppercase">Свежее</h2>
        <div id="carousel" class="marg__b_max">
            {% for realm_data in realms_data %}
                {% with local=realm_data.main %}
                    {% include "sub_realm_card_main.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    <div id="index_box" class="marg__t_max">
    {% for realm_data in realms_data %}
        {% include "sub_realm_card.html" %}
    {% endfor %}
    </div>
{%  endblock %}