{% load sitetree %}

{% if comments_enabled and shortname %}
<div id="disqus_thread" class="marg__t_max"></div>

<script type="text/javascript">
    var disqus_config = function () {
        this.page.identifier = '{{ entity_name }}_{{ entity_id }}';
        this.page.title = '{% sitetree_page_title from "main" %}';
        {% if category_id %}
        this.page.category_id = '{{ category_id }}';
        {% endif %}

    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = '//{{ shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Включите JavaScript, чтобы увидеть комментарии.</noscript>

{% else %}
    <div class="well well-sm">
        <i>Комментарии отключены.</i>
    </div>
{% endif %}


<script id="dsq-count-scr" src="//{{ shortname }}.disqus.com/count.js" async></script>