{% load sitetree %}

{% if comments_enabled and shortname %}
<div id="disqus_thread" class="marg__t_max"></div>
<script type="text/javascript">
    (function() {
        var disqusShortname = '{{ shortname }}',
            disqusIdentifier = '{{ entity_name }}_{{ entity_id }}',
            {% if category_id %}
            disqusCategoryId = '{{ category_id }}',
            {% endif %}
            disqusTitle = '{% sitetree_page_title from "main" %}';

        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqusShortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% else %}
    <div class="well well-sm">
        <i>Комментарии отключены.</i>
    </div>
{% endif %}


<script type="text/javascript">
    (function () {
        var disqusShortname = '{{ shortname }}';

        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqusShortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>