{% load model_meta %}
<div id="bookmark_box" class="block marg__l_min">
    {% if request.user.is_authenticated %}
        {% if item.is_bookmarked %}
        <button id="toggle_bookmark" data-xaction="0" data-xtarget="bookmark_box" data-xsuccess="replace" class="xross btn btn-warning" title="{% model_meta_verbose_name item %} в избранном. Нажмите для отмены."><i class="fa fa-bookmark"></i></button>
        {% else %}
        <button id="toggle_bookmark" data-xaction="1" data-xtarget="bookmark_box" data-xsuccess="replace" class="xross btn btn-default" title="Нажмите, чтобы поместить в избранные {% model_meta_verbose_name_plural item %}."><i class="fa fa-bookmark-o"></i></button>
        {% endif %}

    {% else %}
        <a href="{% url "login" %}" class="btn btn-default" title="Нажмите, чтобы поместить в избранные {% model_meta_verbose_name_plural item %}.">
            <i class="fa fa-bookmark-o"></i></a>
    {% endif %}
</div>