<div id="rate_box" class="text-center marg__b_min block">
    {% if request.user.is_authenticated %}
        {% if item.my_support %}
            <button id="set_rate" data-xaction="0" data-xtarget="rate_box" data-xsuccess="replace" class="xross btn btn-success" title="Сбросить одобрение">
                &nbsp; <span class="label label-success">{{ item.supporters_num }}</span> &nbsp;<i class="fa fa-thumbs-o-down"></i>

            </button>
        {% else %}
            <button id="set_rate" data-xaction="1" data-xtarget="rate_box" data-xsuccess="replace" class="xross btn btn-default" title="Одобряю!">
                &nbsp; <span class="label label-success">{{ item.supporters_num }}</span> &nbsp;<i class="fa fa-thumbs-o-up"></i>
            </button>
        {% endif %}
    {% else %}
            <a href="{% url "login" %}" class="btn btn-default" title="Одобряю!">
                &nbsp; <span class="label label-success">{{ item.supporters_num }}</span> &nbsp;<i class="fa fa-thumbs-o-up"></i>
            </a>
    {% endif %}
</div>