{% load thumbs siteblocks %}

{% block details_tags %}{% include "sub_box_tags.html" %}{% endblock %}

{% block details_controls %}{% include "sub_box_controls.html" %}{% endblock %}

{% include "sub_linked.html" %}

{% block right_bar %}
    {% if not hide_hint %}
        {% siteblock "hints" as hint %}
    {% endif %}
    {% if hint %}
    <div class="panel panel-warning">
        <div class="panel-heading">На заметку</div>
        <div class="panel-body small">
            {{ hint }}
        </div>
    </div>
    {% endif %}
{% endblock %}
