{% extends "base_details.html" %}
{% load model_field sitetree static %}
{% get_static_prefix as STATIC_URL %}


{% block page_description %}Описание {{ reference.title }} в Python. {{ reference.description|truncatechars:"135" }}{% endblock %}


{% block page_keywords %}{{ block.super }}, {{ reference.title }} in python 3, {{ reference.title }} в питоне, {{ reference.search_terms }}{% endblock %}


{% block js_bottom %}
    <script type="text/javascript">
        $(function(){
            pythonz.Reference.decorateDescription('area_description');
            pythonz.Reference.decorateFuncParams('area_func_params');
            pythonz.Reference.decorateFuncResult('area_func_result');
        });
    </script>
{% endblock %}


{% block breadcrumbs %}
    {% sitetree_breadcrumbs from "references" template "sitetree/crumbs.html" %}
{% endblock %}


{% block column_right_contents %}

    {% if request.user.is_authenticated %}
    <div class="card mb-4"><div class="card-body">
        <div>Дополнить справочник:</div>
        <div>
            {% include "realms/references/quick_add_form.html" with parent=reference.parent_id title='Добавить по соседству' %}
            {% include "realms/references/quick_add_form.html" with parent=reference.id title='Добавить вложенно' %}
        </div>
        <div class="clearfix"></div>
    </div></div>
    {% endif %}

    {% include "sub_column_controls.html" with hide_hint=1 %}

{% endblock %}


{% block schema_type %}APIReference{% endblock %}


{% block details_contents %}
    <meta itemprop="headline" content="{{ reference.title }}" />
    <meta itemprop="datePublished" content="{{ reference.time_published|date:"c" }}" />
    <meta itemprop="image" content="{{ STATIC_URL }}img/realm_logos/pythonz_references.png" />

    <div class="mb-3 pull-right">
        {% if reference.pep %}
            <div class="badge badge-primary mr-2">
                <a href="/peps/named/{{ reference.pep|stringformat:"04d" }}/" title="Перейти к связанному предложению по улучшению">
                    {% model_field_verbose_name from reference.pep %}-{{ reference.pep }}</a></div>
        {% endif %}
        {% if reference.version_added %}
        <div class="badge badge-info mr-2">
            <a href="{{ reference.version_added.get_absolute_url }}">{% model_field_verbose_name from reference.version_added %} {{ reference.version_added }}</a>
        </div>
        {% endif %}
        {% if reference.version_deprecated %}
        <div class="badge badge-danger">
            <a href="{{ reference.version_deprecated.get_absolute_url }}">{% model_field_verbose_name from reference.version_deprecated %} {{ reference.version_deprecated }}</a>
        </div>
        {% endif %}
    </div>

{%  endblock %}


{% block details_contents_add %}

    {% if reference.is_type_callable %}
        <div class="mb-3">

            {% if reference.func_proto %}
            <div class="mb-3 card"><div class="card-body">
                <div id="area_func_proto" class="block">
                    {{ reference.func_proto }}
                </div>
                {% if reference.func_result %} -> <span id="area_func_result">{{ reference.func_result }}</span>{% endif %}
            </div></div>
            {% endif %}

            {% if reference.func_params %}
            <div class="mb-3">
                <div id="area_func_params">
                    {{ reference.func_params|linebreaksbr }}
                </div>
            </div>
            {% endif %}

        <hr>
        </div>
    {% endif %}

    <div id="area_description">
        {{ reference.text|safe }}
    </div>

    {% if reference.search_terms %}
    <div class="mt-3 small cl__gray">
        Синонимы поиска: {{ reference.search_terms }}
    </div>
    {% endif %}


    {% if children and reference.is_type_bundle %}
    <h6 class="mt-3">Статьи раздела</h6>
    {% include "realms/references/sub_list.html" with items=children detailed=True %}
    {% endif %}

{% endblock %}

{% block details_discussions_pre %}
    <div class="card bg-light border-light mb-3 small">
        <div class="card-body">
            {% if children and not reference.is_type_bundle %}
                <div>Ещё в этом разделе:
                    {% include "realms/references/sub_list.html" with items=children %}</div>
            {% endif %}
            {% if reference.parent and siblings %}
                <div>Ещё в разделе «{{ reference.parent.title }}»:
                    {% include "realms/references/sub_list.html" with items=siblings %}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block cover %}{% endblock %}