{% extends "base_details.html" %}
{% load model_field %}


{% block js_bottom %}
    <script type="text/javascript">
        $(function(){
            pythonz.Reference.decorate_description('area_description');
            pythonz.Reference.decorate_func_params('area_func_params');
            pythonz.Reference.decorate_func_result('area_func_result');
        });
    </script>
{% endblock %}


{% block details_contents %}

    <div class="marg__b_mid marg__l_mid pull-right">
        {% if reference.version_added %}
        <div class="label label-info" title="{% model_field_verbose_name from reference.version_added %}">{{ reference.version_added }}</div>
        {% endif %}
        {% if reference.version_deprecated %}
        <div class="label label-danger" title="{% model_field_verbose_name from reference.version_deprecated %}">{{ reference.version_deprecated }}</div>
        {% endif %}
    </div>

{%  endblock %}


{% block details_contents_add %}

    {% if reference.is_type_callable %}
        <div class="marg__b_mid">

            {% if reference.func_proto %}
            <div class="marg__b_mid">
                <h6>Прототип</h6>
                <div id="area_func_proto">
                    {{ reference.func_proto }}
                </div>
            </div>
            {% endif %}

            {% if reference.func_params %}
            <div class="marg__b_mid">
                <h6>Параметры</h6>
                <div id="area_func_params">
                    {{ reference.func_params|linebreaksbr }}
                </div>
            </div>
            {% endif %}

            {% if reference.func_result %}
            <div class="marg__b_mid">
                <h6>Результат</h6>
                <div id="area_func_result">
                    {{ reference.func_result }}
                </div>
            </div>
            {% endif %}

        </div>
    {% endif %}

    <h6>Описание</h6>
    <div id="area_description">
        {{ reference.text|safe }}
    </div>
{% endblock %}


{% block details_contents_after %}
    {% if children %}
    <div class="marg__t_max">
        {% if reference.is_type_class %}
            <h6>Методы</h6>
        {% else %}
            <h6>Темы раздела</h6>
        {% endif %}

        {% include "realms/references/sub_list.html" with items=children show_descriptions=1 %}
    </div>
    {% endif %}

    {% if siblings %}
    <div class="marg__t_max">
        {% if reference.is_type_method %}
            <h6>Другие методы</h6>
        {% else %}
            <h6>Соседние темы</h6>
        {% endif %}

        {% include "realms/references/sub_list.html" with items=siblings show_descriptions=1 %}
    </div>
    {% endif %}

{%  endblock %}


{% block right_bar %}

    {% if reference.parent %}
    <div class="marg__t_min">
        <h6>Родительский раздел</h6>
        <a href="{% url "references:details_slug" reference.parent.slug %}">{{ reference.parent.title }}</a>
    </div>
    {% endif %}

    <div class="text-center marg__t_max">
        {% include "sub_box_share.html" %}
    </div>


{% endblock %}


{% block details_share %}{% endblock %}


{% block details_linked %}{% endblock %}


{% block cover %}{% endblock %}