{% extends "base_edit.html" %}


{% block head %}
    {{ block.super }}
    <script type="text/javascript">

        function toggleFormFields() {
            var idFunc = '4',
                idClass = '5',
                idMethod = '6',
                show = $.inArray($('#id_type').val(), [idFunc, idClass, idMethod]) > -1;

            $('.form-group', '#edit_form').each(function(idx, el){
                var $el = $(el);
                if ($el.data('fieldname').indexOf('func_')===0) {
                    $el.hide();
                    if (show) {
                        $el.show();
                    }
                }
            });
        }

        $(function(){
            $('#id_type').on('change', toggleFormFields);
            toggleFormFields();
        });
    </script>
{% endblock %}


{% block hint %}
    <ol>
        <li>Заполняйте форму аккуратно;</li>
        <li>Обратите особое внимание на правильность заполнения поля &laquo;Тип статьи&raquo;.</li>
    </ol>
{%  endblock %}