<table class="text-muted">
{% for item in items %}
    <tr>
        <td>
        {% with item.version_deprecated as del %}

            {% if del %}<del title="Устарело">{% endif %}
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
            {% if del %}</del>{% endif %}

            </td>
            {% if show_descriptions %}
                <td>
                    &nbsp; <small>&#8212;
                    {% if del %}<del title="Устарело">{% endif %}
                    {{ item.description|truncatechars:70 }}
                    {% if del %}</del>{% endif %}
                    </small>
                </td>
            {% endif %}

        {% endwith %}
    </tr>
{% endfor %}
</table>