{% extends "_base.html" %}
{% load thumbs sitecats %}

{% block head %}
    {{ form.media }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}

{% block js_bottom %}
<script type="text/javascript">
    pythonz.initEditor($('textarea', '#rst_src')[0]);
</script>
{% endblock %}

{% block page_contents %}

    {% include "sub/title_block.html" %}

    <div class="card border-danger mb-3">
        <div class="card-header">К сведению</div>
        <div class="card-body">
            {% block hint %}{% endblock %}
        </div>
    </div>

    {% block right_bar %}{% endblock %}

    {% block form %}
        {% include "forms/sub_form.html" with form=form %}
    {% endblock %}

    {% block categories_editor %}
        {% include "sub/box_tags.html" %}
    {% endblock %}

{%  endblock %}