{% extends "_base.html" %}
{% load cache etc_misc %}


{% block head %}
    {{ block.super }}
    <meta property="yandex_recommendations_kill" content="1"/>
{% endblock %}

{% block page_keywords %}{{ realm.view_listing_keywords }}{% if category %}, {{ category.title }}{% endif %}{% endblock %}

{% block page_description %}{{ realm.view_listing_description }}{% if category %}, {{ category.note|truncatechars:100 }}{% endif %}{% endblock %}

{% block page_title %}{{ block.super }} про Python{% endblock %}

{% block page_contents_pre %}

    <div class="row">
        <div class="col-12">
            {% include "sub/title_block.html" %}

        {% block promo %}
            {% if category.note %}
                <blockquote>{{ category.note|urlize }}</blockquote>
            {% endif %}
        {% endblock %}

        </div>
    </div>

    <div class="row">
        <div class="col-8">
            {% include "sub/paginator.html" with paginator=items %}
{%  endblock %}

{% block page_contents %}
    {% include_ "realms/{{ realm.name_plural }}/list_items.html" fallback "base_list_items.html" %}
{%  endblock %}

{% block page_contents_post %}
            {% include "sub/paginator.html" with paginator=items %}
        </div>

        <div class="col-4 d-none d-md-block">

            {% block ad_rightbar %}
            <div class="col-12 mb-4">
                {% include "sub/box_ads.html" with area="rightbar" %}
            </div>
            <div class="clearfix"></div>
            {% endblock %}

            <div id="box-topvoted" class="p-2">
                {% block bar_right %}
                <div>
                    <h2>
                        Лучшие
                        <sup class="small tooltipped" title="По мнению пользователей сайта">
                            <i class="fa fa-question-circle"></i>
                        </sup>
                    </h2><hr>
                </div>

                <div class="mb-3">
                    {% block most_voted %}
                        {% if items_most_voted %}
                            {% include_ "realms/{{ realm.name_plural }}/list_items.html" fallback "base_list_items.html" with items=items_most_voted nofade=1 nodecks=1 %}
                        {% else %}
                            Пока этот список не сформирован. Оцените материалы раздела, чтобы исправить ситуацию.
                        {% endif %}
                    {% endblock %}
                    <div class="clearfix"></div>
                </div>
                {% endblock %}
            </div>
            <div class="clearfix"></div>

            <div class="mt-3">
            {% block bar_right_after %}
                <hr>
                {% include "sub/hint.html" %}
            {% endblock %}
            </div>
        </div>
    </div>

{%  endblock %}
