<div class="listing-item card mb-3">
    <div class="card-body">
        {% block cover %}<a href="{{ item.get_absolute_url }}">{% include "sub/item_cover.html" %}</a>{% endblock %}
        <div class="card-title">
            <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title|truncatechars:58 }}</a>
        </div>
        {% block info %}{% endblock %}
    </div>
    <div class="card-footer small">
        {% block bottom %}
            {% include "sub/item_info.html" with show_date=1 %}
        {% endblock %}
    </div>
</div>