{% extends "_base.html" %}
{% load etc_misc %}

{% block head %}
    {{ block.super }}
    <meta property="yandex_recommendations_kill" content="1"/>
{% endblock %}

{% block page_title %}Про Python{% endblock %}


{% block page_contents %}

    <div class="row">
        <div class="col">
            <h1 class="text-uppercase">Про Python</h1>
        </div>
        <div class="col text-right">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item"><a href="/promo/">Что такое Python</a></li>
                <li class="list-inline-item"><a href="/about/">Что это за сайт</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include "sub/search_bar.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            {% include "sub/box_ads.html" with area="maintop"%}
        </div>
    </div>

    <div class="row mt-4 no-gutters justify-content-around" id="box-index">
    {% for realm_data in realms_data %}
        {% include_ "realms/{{ realm_data.cls.name_plural }}/index_card.html" fallback "sub/realm_card.html" %}
    {% endfor %}
    </div>

{%  endblock %}
