{% extends "base_details.html" %}
{% load gravatar model_meta sitetree %}


{% block page_description %}Обсуждение «{{ discussion.title }}»{% endblock %}


{% block page_keywords %}{{ block.super }}, обсуждение {{ discussion.title }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub/vk_head.html" %}
{% endblock %}

{% block schema_type %}Comment{% endblock %}

{% block details_contents %}
    <meta itemprop="about" content="{{ discussion.title }}" />
{% endblock %}

{% block details_contents_add %}

    {% if discussion.linked_object %}
        <div class="card card-default card-body mb-3">
            Связано с: <a href="{{ discussion.linked_object.get_absolute_url }}">{% model_meta_verbose_name discussion.linked_object %} «{{ discussion.linked_object.title }}»</a>
        </div>
    {% endif %}
    <div class="py_user" itemprop="text">{{ discussion.text|safe }}</div>

{%  endblock %}

{% block cover %}
    {% with discussion.submitter.get_absolute_url as submitter_url %}
    <a href="{{ submitter_url }}">{% gravatar_get_img discussion.submitter 64 %}</a><br>
    <small><a href="{{ submitter_url }}">{{ discussion.submitter.get_display_name }}</a></small>
    {% endwith %}
{% endblock %}

{% block discussions %}
    <div class="mt-4 p-2 clearfix border rounded">
        {% include "sub/comments.html" with disable_internal=1 author=discussion.submitter entity_name='discussion' entity_id=discussion.id personalized=1 %}
    </div>
{% endblock %}