{% extends "base_details.html" %}
{% load model_field %}


{% block meta_og %}
    <meta property="og:type" content="event" />
    <meta property="og:title" content="{{ event.title }}" />
    {{ block.super }}
{% endblock %}


{% block details_contents %}
    <div class="marg__b_mid">
        <h4>
            {{ event.get_display_type }} <span class="cl__gray">&#8212; {{ event.get_display_specialization }}</span>
            <div class="pull-right">
                {% if event.fee %}
                    <span class="label label-danger" title="За участие взымается плата">Платно</span>
                {% else %}
                    <span class="label label-success" title="Участие беслатное">Бесплатно</span>
                {% endif %}
            </div>
        </h4>
        {% if event.is_in_past %}
            <h4><span class="label label-danger">Событие уже в прошлом</span></h4>
        {% endif %}
        <div class="small">
            {% if event.place %}
                <div><a href="{{ event.place.get_absolute_url }}">{{ event.place.title }}</a></div>
            {% endif %}
            {% if event.time_start %}
                {{ event.time_start|date:"d E H:i" }}
                {% if event.time_finish %}
                    &#8212; {{ event.time_finish|date:"d E H:i" }}
                {% endif %}
                <span class="cl__gray">&nbsp; {% if not event.is_in_past %}[{{ event.time_start|timeuntil }} до начала]{% endif %}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block details_contents_after %}
    <div class="text-muted marg__b_mid small">
        {% if event.url %}<div><a href="{{ event.url }}">{{ event.url }}</a></div>{% endif %}
        {% if event.contacts %}<div class="py_user">{% model_field_verbose_name from event.contacts %}: {{ event.contacts }}</div>{% endif %}
    </div>

    <div class="py_user marg__b_mid">
        {{ event.text|safe }}
    </div>
{% endblock %}