{% extends "base_details.html" %}
{% load model_field %}


{% block page_description %}Событие «{{ event.title }}»{% endblock %}


{% block page_keywords %}{{ block.super }}, событие {{ event.title }}{% endblock %}


{% block meta_og %}
    <meta property="og:type" content="event" />
    <meta property="og:title" content="{{ event.title }}" />
    {{ block.super }}
{% endblock %}


{% block schema_type %}Event{% endblock %}


{% block details_contents %}
    <div class="marg__b_mid">
        <div class="pull-right">
            {% if event.fee %}
                <span class="label label-danger" title="За участие взымается плата">Платно</span>
            {% else %}
                <span class="label label-success" title="Участие беслатное">Бесплатно</span>
            {% endif %}
        </div>
        {% if event.is_in_past %}
            <h4 class="marg__b_max"><span class="label label-danger">Событие уже в прошлом</span></h4>
        {% endif %}
        <div>
            {% if event.time_start %}
                <meta itemprop="startDate" content="{{ event.time_start|date:"c" }}" />
                {{ event.time_start|date:"d E Y года, H:i" }}
                {% if event.time_finish %}
                    &#8212; {{ event.time_finish|date:"d E H:i" }}
                {% endif %}
                {% if not event.is_in_past %}
                <span class="cl__gray">
                    &nbsp; {% if event.is_now %}[проходит прямо сейчас]{% else %}[{{ event.time_start|timeuntil }} до начала]{% endif %}
                </span>
                {% endif %}
            {% endif %}

            {% if event.place %}
                <div class="small">
                    <meta itemprop="location" content="{{ event.place.title }}" />
                    <a href="{{ event.place.get_absolute_url }}">{{ event.place.title }}</a>
                </div>
            {% endif %}

        </div>
    </div>

    {% if not event.is_now and not event.is_in_past and event.time_start %}
        <div class="marg__t_min marg__b_mid">
            {% include "sub_ya_forgetmenot.html" %}
        </div>
    {% endif %}

    <div class="marg__b_min">{{ event.get_display_type }} <span class="cl__gray">&#8212; {{ event.get_display_specialization }}</span></div>
    <div class="text-muted marg__b_mid small">
        {% if event.url %}<div>{% model_field_verbose_name from event.url %}: <a href="{{ event.get_utm_url }}">{{ event.url }}</a></div>{% endif %}
        {% if event.contacts %}<div class="py_user">{% model_field_verbose_name from event.contacts %}: {{ event.contacts }}</div>{% endif %}
    </div>

{% endblock %}

{% block details_description %}

    <blockquote>
        <p><i itemprop="description">{{ item.description|urlize|linebreaksbr }}</i></p>
        <p class="py_user">{{ event.text|safe }}</p>
    </blockquote>


{% endblock %}
