{% load thumbs %}

{% for event in items %}
    <div class="listing_item">
        <div class="rating"><span class="label label-default">{{ event.supporters_num }}</span></div>
        <div class="cover_img float-right">
        <a href="{{ event.get_absolute_url }}">
            {% thumbs_get_thumb_url event.cover 100 131 event.realm as thumb_url %}
            <b>{{ abra }}</b>
            {% if thumb_url %}
            <img src="{{ thumb_url }}" class="img-thumbnail {% if not nofade %}faded{% endif %}" alt="{{ event.title }}">
            {% else %}
                <i class="img-thumbnail icon_entity fa fa-2x fa-{{ realm.icon }}"></i>
            {% endif %}
        </a>
        </div>
        <div class="description float-right">
            <a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title|truncatechars:58 }}</a>

            <div class="small">
                {% if event.is_in_past %}
                    <div class="label label-default">В прошлом</div>
                {% else %}
                    {% if event.time_start %}
                        <div>{{ event.time_start|date:"d M H:i" }} {% if event.time_finish %}&#8212; {{ event.time_finish|date:"d M H:i" }}{% endif %}</div>
                    {% endif %}
                {% endif %}
                <div class="marg__t_min">{{ event.get_display_type }}</div>
                <span class="cl__green"><b>{{ event.get_display_specialization }}</b></span>
            </div>
        </div>
    </div>
{% endfor %}