<div class="marg__t_mid">
    {% if items %}
        <ul class="vacancies media-list">
            {% for vacancy in items %}
                <li class="vacancy media">

                    <div class="media-body">
                        <h4><a href="{{ vacancy.get_utm_url }}">{{ vacancy.title }}</a></h4>
                        <div class="cl__gray marg__b_min">
                            <small>
                                <span class="marg__r_mid"><strong>{{ vacancy.employer_name }}</strong></span>

                                {% if vacancy.place %}
                                    {% if vacancy.place.is_published %}
                                        <a href="{{ vacancy.place.get_absolute_url }}">{{ vacancy.place.title }}</a>
                                    {% else %}
                                        {{ vacancy.place.title }}
                                    {% endif %}
                                {% endif %}
                            </small>
                        </div>

                        {% if vacancy.salary_from %}
                            <span class="label label-info marg__r_mid">{{ vacancy.get_salary_str }}</span>
                        {% endif %}

                        <small class="cl__gray">
                            <small>{{ vacancy.time_created|date:"d E H:i" }}</small>
                        </small>
                    </div>

                    {% if vacancy.url_logo %}
                        <div class="media-right">
                            <img src="{{ vacancy.url_logo }}" class="img-thumbnail media-object" alt="{{ vacancy.title }}">
                        </div>
                    {% endif %}
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <small class="text-muted">На данный момент нет вакансий доступных для отображения.</small>
    {% endif %}
</div>