{% extends "_base.html" %}
{% load gravatar model_meta sitetree %}

{% block page_contents %}
    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="marg__b_mid text-center">
                <a href="{{ discussion.submitter.get_absolute_url }}" title="{{ discussion.submitter.get_display_name }}">{% gravatar_get_img discussion.submitter 128 %}</a>
            </div>
        </div>
        <div class="col-md-10">
            <div>
                <div class="pull-right marg__l_mid marg__b_mid">
                    {% include "sub_box_controls.html" %}
                </div>
                <a href="{{ discussion.linked_object.get_absolute_url }}">{% model_meta_verbose_name discussion.linked_object %} «{{ discussion.linked_object.title }}»</a>
                <div class="marg__b_mid text-muted">
                    <small>
                        {{ discussion.time_created }}
                        {% if discussion.time_modified %}(<abbr title="Дата последнего редактирования">ред.</abbr> {{ discussion.time_modified }}){% endif %}
                    </small>
                </div>
                <div class="py_user">{{ discussion.text|safe }}</div>
            </div>
            {% include "sub_box_share.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "sub_disqus.html" with shortname="pythonz-discussions" comments_enabled=1 entity_name='discussion' entity_id=discussion.id %}
        </div>
    </div>
{%  endblock %}