{% if show_form_for %}
    {% if request.user.is_authenticated %}
        <div class="marg__b_mid">
            <form method="post" action="{% url "discussions:add" %}">
                {% csrf_token %}
                <input type="hidden" name="related_item_realm" value="{{ show_form_for.realm.name }}">
                <input type="hidden" name="related_item_id" value="{{ show_form_for.id }}">
                <button class="btn btn-sm">
                    <span class="glyphicon glyphicon-list"></span> Обсудить&hellip;
                </button>
            </form>
        </div>
    {% endif %}
{% endif %}