{% load gravatar %}

{% if show_form_for %}
    {% if request.user.is_authenticated %}
        <div class="pull-right marg__t_mid">
            <form method="post" action="{% url "discussions:add" %}">
                {% csrf_token %}
                <input type="hidden" name="pythonz_form" value="1" />
                <input type="hidden" name="related_item_realm" value="{{ show_form_for.realm.name }}">
                <input type="hidden" name="related_item_id" value="{{ show_form_for.id }}">
                <button class="btn btn-sm">
                    <i class="fa fa-bullhorn"></i> &nbsp;Обсудить&hellip;
                </button>
            </form>
        </div>
        <div class="clearfix"></div>
    {% endif %}
{% endif %}

<div class="marg__t_mid">
    {% if items %}

        <script type="text/javascript">
            {% comment %}Проставляет кол-во комментариев на вкладку.{% endcomment %}
             $(function(){
                 $('#comments_internal_cnt').text('{{ items|length }}')
             });
        </script>

        <ul class="discussions media-list">
            {% for discussion in items %}
                <li class="discussion media">
                    <div class="media-left">
                        <img src="{% gravatar_get_url discussion.submitter 32 %}" class="img-thumbnail media-object" alt="{{ discussion.submitter.title }}">
                    </div>
                    <div class="media-body">
                        <small class="cl__gray">{{ discussion.time_created|date:"d E H:i" }}</small>
                        {% if request.user.id == discussion.submitter_id %}
                            <small class="pull-right"><span class="label label-success">моё</span></small>
                        {% endif %}
                        <br>

                        <a href="{% url "discussions:details" discussion.id %}" class="item marg__t_min" title="Страница обсуждения">
                            {% if show_texts %}<i class="fa fa-comments"></i> &nbsp;{% endif %}{{ discussion.title }}
                        </a>

                        {% if show_texts %}
                            <div class="well well-sm marg__t_min">
                                {{ discussion.get_description|safe }}
                            </div>
                        {% endif %}
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <small class="text-muted">
            Нет обсуждений для отображения.
            {% if not request.user.is_authenticated %}
            <br>Если у вас есть, что сказать, можете <a href="{% url "login" %}">представиться</a> и исправить ситуацию.
            {% endif %}
        </small>
    {% endif %}
</div>