<h3>Обсуждения</h3>
<div class="marg__t_mid">
    {% if discussions %}
        <ul class="discussions">
            {% for discussion in discussions %}
                <li class="discussion">
                    <small class="cl__gray">{{ discussion.time_created|date:"d E H:i" }}</small><br>
                    <a href="{% url "discussions:details" discussion.id %}" class="item" title="Страница обсуждения">{{ discussion.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="well well-sm">
            Нет обсуждений для отображения.
            {% if not request.user.is_authenticated %}
            <br>Если у вас есть, что сказать, можете <a href="{% url "login" %}">представиться</a> и исправить ситуацию.
            {% endif %}
        </div>
    {% endif %}
</div>