<hr>
{% if show_form_for %}
    {% if request.user.is_authenticated %}
        <div class="pull-right">
            <form method="post" action="{% url "discussions:add" %}">
                {% csrf_token %}
                <input type="hidden" name="related_item_realm" value="{{ show_form_for.realm.name }}">
                <input type="hidden" name="related_item_id" value="{{ show_form_for.id }}">
                <button class="btn btn-sm">
                    <span class="glyphicon glyphicon-list"></span> Обсудить&hellip;
                </button>
            </form>
        </div>
    {% endif %}
{% endif %}
<h4>Связанные обсуждения</h4>
<div class="marg__t_mid">
    {% if discussions %}
        <ul class="discussions">
            {% for discussion in discussions %}
                <li class="discussion">
                    <small class="cl__gray">{{ discussion.time_created|date:"d E H:i" }}</small>
                    {% if request.user.id == discussion.submitter_id %}
                        <small class="pull-right"><span class="label label-success">моё</span></small>
                    {% endif %}
                    <br>
                    <a href="{% url "discussions:details" discussion.id %}" class="item" title="Страница обсуждения">{{ discussion.title }}</a>
                    {% if show_texts %}
                        <div>
                            {{ discussion.text|truncatechars_html:360|safe }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <small class="text-muted">
            Нет обсуждений для отображения.
            {% if not request.user.is_authenticated %}
            <br>Если у вас есть, что сказать, можете <a href="{% url "login" %}">представиться</a> и исправить ситуацию.
            {% endif %}
        </small>
    {% endif %}
</div>