{% if area == "rightbar" %}

    <div class="sticky">
    {% if type == "details" %}<!-- Yandex.RTB R-A-247489-2 -->

        <div id="yandex_rtb_R-A-247489-2">{% include "sub/box_ads_stub.html" %}</div>
        <script type="text/javascript">
            yaAd({
                blockId: "R-A-247489-2",
                renderTo: "yandex_rtb_R-A-247489-2",
            })
        </script>

    {% elif type == "search" %}<!-- Yandex.RTB R-A-247489-3 -->

        <div id="yandex_rtb_R-A-247489-3">{% include "sub/box_ads_stub.html" %}</div>
        <script type="text/javascript">
            yaAd({
                blockId: "R-A-247489-3",
                renderTo: "yandex_rtb_R-A-247489-3",
            })
        </script>

    {% else %}<!-- Yandex.RTB R-A-247489-1 -->

        <div id="yandex_rtb_R-A-247489-1">{% include "sub/box_ads_stub.html" %}</div>
        <script type="text/javascript">
            yaAd({
                blockId: "R-A-247489-1",
                renderTo: "yandex_rtb_R-A-247489-1",
            })
        </script>

    {% endif %}
    </div>

{% elif area == "searchtop" %}<!-- Yandex.Premium P-A-247488-1 -->

<div id="yandex_direct_P-A-247488-1">{% include "sub/box_ads_stub.html" %}</div>
<script type="text/javascript">
    yaAd({
        blockId: "P-A-247488-1",
        renderTo: "yandex_direct_P-A-247488-1",
        searchText: getGet('text', '{{ search_term }}'),
        searchPageNumber: parseInt(getGet('p', 1))
    });
</script>

{% elif area == "searchbottom" %}<!-- Yandex.Direct D-A-247488-2 -->

<div id="yandex_direct_D-A-247488-2">{% include "sub/box_ads_stub.html" %}</div>
<script type="text/javascript">
    yaAd({
        blockId: "D-A-247488-2",
        renderTo: "yandex_direct_D-A-247488-2",
        searchText: getGet('text', '{{ search_term }}'),
        searchPageNumber: parseInt(getGet('p', 1))
    });
</script>

{% elif area == "ide" %}<!-- Yandex.RTB R-A-247489-7 -->

<div id="yandex_rtb_R-A-247489-7">{% include "sub/box_ads_stub.html" %}</div>
<script type="text/javascript">
    yaAd({
        blockId: "R-A-247489-7",
        renderTo: "yandex_rtb_R-A-247489-7",
    })
</script>


{% elif area == "maintop" %}<!-- Yandex.RTB R-A-247489-8 -->

<div id="yandex_rtb_R-A-247489-8">{% include "sub/box_ads_stub.html" %}</div>
<script type="text/javascript">
    yaAd({
        blockId: "R-A-247489-8",
        renderTo: "yandex_rtb_R-A-247489-8",
    })
</script>

{% endif %}
