<script type="text/javascript">
    {% comment %}Активирует вкладку с наибольшим кол-вом комментариев.{% endcomment %}

    $(function(){
        pythonz.activateCommentsTab(3000);
    });
</script>

<div class="clearfix"></div>
<ul class="nav nav-tabs" role="tablist" id="tabs-comments">

    {% if not disable_vk %}
    <li role="presentation" class="nav-item">
        <a href="#comments_vk" class="nav-link active" aria-controls="comments_vk" role="tab" data-toggle="tab">
            ВКонтакте
            <span id="comments_vk_cnt" class="vk-comment-count badge ml-2">0</span></a>
    </li>
    {% endif %}

</ul>

<div class="tab-content">

    {% if not disable_vk %}
    <div role="tabpanel" class="tab-pane active" id="comments_vk">
        {% include "sub/vk_comments.html" %}
    </div>
    {% endif %}

</div>
