{% if paginator.paginator.num_pages > 1 %}
<div class="row">
    <div class="col-12">
        <nav role="navigation">
            <ul class="pagination pagination-sm justify-content-end">
                {% if paginator.has_previous %}
                    <li class="page-item"><a class="page-link" href="?p=1" title ="На первую страницу">&lt;&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="?p={{ paginator.previous_page_number }}" title="На предыдущую страницу">&lt;</a></li>
                {% endif %}

                {% for p in paginator.before_current %}<li><a class="page-link" href="?p={{ p }}" title="На страницу {{ p }}">{{ p }}</a></li>{% endfor %}
                <li class="page-item active"><a class="page-link" href="?p={{ paginator.number }}" title="Текущая страница {{ paginator.number }}">{{ paginator.number }}</a></li>
                {% for p in paginator.after_current %}<li><a class="page-link" href="?p={{ p }}" title="На страницу {{ p }}">{{ p }}</a></li>{% endfor %}

                {% if paginator.has_next %}
                    <li class="page-item"><a class="page-link" href="?p={{ paginator.next_page_number }}" title="На следующую страницу">&gt;</a></li>
                    <li class="page-item"><a class="page-link" href="?p={{ paginator.paginator.num_pages }}" title="На последнюю страницу">&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}