
<div class="card col-md-6 mt-3 float-left">

    {% include "sub/realm_card_title.html" %}

    <ul>
        {% for item in realm_data.items %}
        <li class="mb-2">
            {% if item.is_external %}
                <a href="{{ item.get_utm_url }}" rel="nofollow">{{ item.title }}</a>
            {% else %}
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
            {% endif %}
            {% if not item.src_alias and item.title != item.description %}<div class="small text-muted">{{ item.description }}</div>{% endif %}
        </li>
        {% endfor %}
    </ul>

</div>
