{% load sitemetrics static %}
{% get_static_prefix as STATIC_URL %}
<script src="https://cdn.jsdelivr.net/npm/jquery-sticky@1.0.4/jquery.sticky.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.0/build/highlight.min.js"></script>
<script type="text/javascript">
    hljs.configure({useBR: true});
    hljs.initHighlightingOnLoad();
</script>

{% include "siteajax/cdn.html" %}
<script src="{{ STATIC_URL }}js/sitecats/sitecats.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/pythonz.min.js" type="text/javascript"></script>

{% sitemetrics by yandex for "21211468" %}
