<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" id="edit_form">
    {% csrf_token %}
    {% include "forms/sub_form_errors.html" with errors=form.non_field_errors %}
    {% for field in form.visible_fields %}
        {% include "forms/sub_form_field.html" with field=field %}
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <input type="hidden" name="pythonz_form" value="1" />
    <input type="submit" class="btn btn-block btn-primary" value="{{ form.submit_title }}" />
</form>