<div class="form-group {% if field.errors %}has-error{% endif %}" data-fieldname="{{ field.name }}">
    {% if field.label %}
        {% if not field.field.is_checkbox %}
            <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span class="cl__green">*</span>{% endif %}</label>
        {% endif %}

    {% endif %}
        <div>

            {% if field.errors %}
                <div class="badge badge-danger">{{ field.errors.0 }}</div>
            {% endif %}

            {% if field.field.is_checkbox %}
                {{ field }} &nbsp;<label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% else %}
                {{ field }}
            {% endif %}

            {% if field.help_text %}<span class="help-block"><small>{{ field.help_text|safe }}</small></span>{% endif %}
            <div id="xross_{{ field.name }}"></div>
        </div>
</div>
