{% extends "base_details.html" %}
{% load gravatar model_meta sitetree static %}
{% get_static_prefix as STATIC_URL %}


{% block page_keywords %}{{ block.super }}, статья {{ article.title }}, что такое {{ article.title }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub/vk_head.html" %}
{% endblock %}


{% block meta_og %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.title }}" />
    {% if article.published_by_author %}
    <meta property="og:author" content="{{ article.submitter }}" />
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block schema_type %}Article{% endblock %}

{% block details_contents %}
    <meta itemprop="headline" content="{{ article.title }}" />
    <meta itemprop="datePublished" content="{{ article.time_published|date:"c" }}" />
    <meta itemprop="image" content="{{ STATIC_URL }}img/realm_logos/pythonz_articles.png" />
{% endblock %}

{% block details_description %}<div class="mb-3 lead" itemprop="description">{{ item.description|linebreaksbr }}</div>{% endblock %}

{% block details_contents_add %}
    <div class="py_user">{{ article.text|safe }}</div>

    {% if not article.is_handmade and article.url %}
        <div class="mt-3">
            <i class="cl__gray fa fa-copyright"></i>
            <i>С полным текстом статьи можно ознакомиться здесь: <a href="{{ article.get_utm_url }}">{{ article.title }}</a></i>
        </div>
    {% endif %}
{% endblock %}

{% block cover %}
    {% if article.published_by_author %}

    <div class="card text-center"><div class="card-body">
        {% with article.submitter.get_absolute_url as submitter_url %}
        <a href="{{ submitter_url }}">{% gravatar_get_img article.submitter 64 %}</a><br>
        <small><a href="{{ submitter_url }}">{{ article.submitter.get_display_name }}</a></small>
        {% endwith %}
    </div></div>

    {% else %}
        {{ block.super }}
    {% endif %}

{% endblock %}
