{% extends "_base.html" %}


{% block page_keywords %}{{ realm.view_listing_keywords }}{% endblock %}


{% block page_contents %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="opinions marg__t_mid">
            {% for opinion in opinions %}
                {% include "opinions/sub_opinion.html" with disable_voting=1 opinion=opinion %}
            {% empty %}
                <div class="alert alert-info">Нет мнений для отображения. Поделитесь?</div>
            {% endfor %}
            </div>
        </div>
    </div>

    {% include "sub_paginator.html" with paginator=opinions %}
{%  endblock %}