{% extends "base_details.html" %}
{% load gravatar model_meta model_field sitetree static cache %}
{% get_static_prefix as STATIC_URL %}


{% block page_description %}{{ person.name }}. Вклад в развитие языка программирования Python.{% endblock %}
{% block page_keywords %}{{ block.super }}, {{ person.name }}, {{ person.name_en }}, {{ person.aka }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub/vk_head.html" %}
    {% include "sub/plotly.html" %}
{% endblock %}

{% block meta_og %}
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ person.get_display_name }}" />
    <meta property="og:description" content="{% sitetree_page_description from "main" %}" />
{% endblock %}


{% block schema_type %}Person{% endblock %}


{% block details_contents %}
    <div class="mt-4 mb-3 text-muted ml-3">
        {% if person.user %}
        <div class="mt-3 float-right">
            <a href="{{ person.user.get_absolute_url  }}" class="btn btn-success btn-sm">Профиль пользователя сайта &hellip;</a>
        </div>
        {% endif %}
        <table class="small" width="40%">
            <tr>
                <td width="45%">{% model_field_verbose_name from person.name %}:</td>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <td>{% model_field_verbose_name from person.name_en %}:</td>
                <td>{{ person.name_en }}</td>
            </tr>
            <tr>
                <td>{% model_field_verbose_name from person.aka %}:</td>
                <td>{{ person.aka }}</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>

{% cache 300 person_materials person.pk %}
    {% if materials.downloads_map %}
    <div class="mt-3 mb-4 card">
        <div class="card-body">{% include "realms/apps/downloads.html" with downloads_map=materials.downloads_map %}</div>
    </div>
    {% endif %}

    {% if materials.items %}
    <div class="mt-4">
        {% include "sub/realms_links_tabs.html" with realms_links=materials.items %}
    </div>
    {% endif %}
{% endcache %}

{% endblock %}
