{% load gravatar %}
<div class="opinion">
    <a href="{{ opinion.submitter.get_absolute_url }}">{% gravatar_get_img opinion.submitter %}</a>
    <div class="box">
        <div class="toolbar">
            {% include "opinions/sub_rating.html" %}
            &nbsp;<a href="{% url "opinions:details" opinion.id %}" class="item" title="Страница мнения"><span class="fi-link"></span></a>
        </div>
        <div class="author">{{ opinion.submitter.get_display_name }}</div>
        <div class="text py_user">{{ opinion.text|safe|truncatewords_html:30 }}</div>
    </div>
    <div class="clearfix"></div>
</div>