<div class="marg__b_mid">
    <small>
        <div class="marg__t_mid well well-sm cl__blue">
            <span class="fi-info"></span> Чтобы прокомментировать чужое мнение, совершите переход на его страницу.
            <br>Ссылка для перехода расположена в правом верхнем углу каждого из мнений.
        </div>
    </small>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea rows="2" name="text_src" id="id_text_src" cols="40" class="form-control" placeholder="Место для вашего мнения"></textarea>
        </div>
        <input type="submit" class="btn btn-default btn-block btn-primary" value="Опубликовать мнение" />
    </form>
</div>