<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body style="font-family: sans-serif;color: #333;font-size: 14px;padding: 10px;margin: 0;">
    <div style="color: #000;font-weight: bold;font-size: 16px;margin-bottom: 25px;padding: 15px;background-color: #eee;">PYTHONZ</div>
    {% block contents %}{% endblock %}
    <div style="font-size: 10px;color: #999;margin-top: 25px;">
        <hr noshade style="color: #ccc;">
        Это письмо сформировано и выслано автоматически проектом <a href="http://pythonz.net">pythonz.net</a>
    </div>
</body>
</html>