{% extends "base_details.html" %}
{% load gravatar model_meta sitetree static %}
{% get_static_prefix as STATIC_URL %}


{% block page_keywords %}{{ block.super }}, статья {{ article.title }}, что такое {{ article.title }}{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "sub_vk_head.html" %}
{% endblock %}


{% block meta_og %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.title }}" />
    {% if article.published_by_author %}
    <meta property="og:author" content="{{ article.submitter }}" />
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block page_contents %}
<div itemscope itemtype="http://schema.org/Article">
    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>
    <div class="row">
        <meta itemprop="headline" content="{{ article.title }}" />
        <meta itemprop="datePublished" content="{{ article.time_published|date:"c" }}" />
        <meta itemprop="image" content="{{ STATIC_URL }}img/realm_logos/pythonz_articles.png" />

        <div class="col-md-12">
            <div id="article-content">
                <div class="pull-right marg__l_mid marg__b_mid float_panel">
                    {% if article.published_by_author %}
                    <div class="well marg__b_mid text-center">
                        {% with article.submitter.get_absolute_url as submitter_url %}
                        <a href="{{ submitter_url }}">{% gravatar_get_img article.submitter 64 %}</a><br>
                        <small><a href="{{ submitter_url }}">{{ article.submitter.get_display_name }}</a></small>
                        {% endwith %}
                    </div>
                    {% endif %}
                    {% include "sub_box_tags.html" %}

                    {% block ad_rightbar %}
                    <div class="col-md-12 marg__b_mid">
                        {% include "sub_box_ads.html" with area="rightbar" type="details" %}
                    </div>
                    <div class="clearfix"></div>
                    {% endblock %}
                </div>
                <div class="marg__b_mid text-muted">
                    <small>
                        {{ article.time_created }}
                        {% if article.time_modified %}(<abbr title="Дата последнего редактирования">ред.</abbr> {{ article.time_modified }}){% endif %}
                    </small>
                </div>

                {% include "sub_box_controls.html" %}

                <div class="lead" itemprop="description">{{ article.description|linebreaksbr }}</div>
                <div class="py_user">{{ article.text|safe }}</div>

                {% if not article.is_handmade and article.url %}
                    <div class="marg__t_mid">
                        <i class="cl__gray fa fa-copyright"></i>
                        <i>С полным текстом статьи можно ознакомиться здесь: <a href="{{ article.get_utm_url }}">{{ article.title }}</a></i>
                    </div>
                {% endif %}

                {% if not article.published_by_author %}
                <div class="marg__t_mid text-muted pull-right">
                    {% include "sub_author_editor.html" %}
                </div>
                <div class="clearfix"></div>
                {% endif %}

                {% include "sub_box_share.html" %}

                {% include "sub_linked.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "sub_comments.html" with disable_internal=1 author=article.submitter entity_name='article' entity_id=article.id personalized=article.published_by_author %}
        </div>
    </div>
</div>
{%  endblock %}