{% extends "base_edit.html" %}


{% block hint %}
    <ol>
        <li>Придерживатесь темы Python;</li>
        <li>Перепост своих статей разрешен;</li>
        <li>Перепост чужих статей запрещен;</li>
        <li>Переводы принимаюся, имя изначального автора при этом записывается на языке оригинала, ссылка на оригинал в конце статьи настоятельно рекомендуется;</li>
        <li>Постарайтесь писать доступным языком;</li>
        <li>Не принебрегайте орфографией и синтаксисом;</li>
        <li>Жгите!</li>
    </ol>
{%  endblock %}