{% extends "base_details.html" %}
{% load gravatar sitetree %}


{% block meta_og %}
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ user.get_display_name }}" />
    <meta property="og:first_name" content="{{ user.first_name }}" />
    <meta property="og:last_name" content="{{ user.last_name }}" />
    <meta property="og:username" content="{{ user.get_username_partial }}" />

    <meta property="og:description" content="{% sitetree_page_description from "main" %}" />
    <meta property="og:image" content="{% gravatar_get_url user 180 %}" />
{% endblock %}


{% block details_contents %}
    <div class="marg__b_mid text-muted">
        <small>
            <span class="marg__r_mid">Имя пользователя: {{ user.get_username_partial }}</span>
            <span class="marg__r_mid">Дата регистрации: {{ user.date_joined }}</span>
        </small>
    </div>
    <div class="marg__t_max">
        {% if bookmarks %}
        <h3>Избранное</h3>
        {% for realm_model, bookmark_list in bookmarks.items %}
            {% if bookmark_list %}
            <div class="marg__l_mid marg__t_mid">
                <h4>{{ realm_model.get_verbose_name_plural }}</h4>
                <ul>
                    {% for item in bookmark_list %}
                        <li><a href="">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
{%  endblock %}


{% block details_linked %}{% endblock %}

{% block cover %}
    <img src="{% gravatar_get_url user 180 %}" class="img-thumbnail" alt="{{ user.get_display_name }}">
{% endblock %}