{% extends "base_edit.html" %}
{% load sitemessage %}

{% block hint %}
    <ol>
        <li>Аватары берутся с сервиса <a href="http://ru.gravatar.com/">Gravatar</a> и привязаны к адресу электронной почты;</li>
        <li>Реальные имена и фамилии приветствуются;</li>
        <li>Зарегистрировать форум Disqus для поддержки комментариев к вашим публикациям можно <a href="http://disqus.com/admin/create/">здесь</a>.</li>
    </ol>
{%  endblock %}


{% block form %}
    <h3>Подписка</h3>
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% sitemessage_prefs_table from subscr_prefs template "sitemessage/user_prefs_table-bootstrap.html" %}

        <input type="submit" class="btn btn-default btn-block btn-primary" value="Применить" />
    </form>
    <div class="marg__t_max">
    {{ block.super }}
    </div>
{% endblock %}