{% extends "_base.html" %}
{% load gravatar model_field %}


{% block page_keywords %}{{ realm.view_listing_keywords }}{% endblock %}


{% block page_contents %}

    <div class="row">
        <div class="col-md-12">
            {% include "sub_title_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% model_field_verbose_name from users.supporters_num as title_support %}
            {% for user in users %}
                {% if user.is_active %}
                <div class="pull-left userlist_item">
                    <a href="{{ user.get_absolute_url }}" title="{{ user.get_display_name }}">
                        <img src="{% gravatar_get_url user %}">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% include "sub_paginator.html" with paginator=users %}
{%  endblock %}